<div class="main-content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header" data-background-color="red">
                        <h4 class="title">My Books
                            <button  class="btn btn-white btn-round btn-just-icon pull-right" type="submit" (click)="reload()">
                                <i class="material-icons">refresh</i><div class="ripple-container"></div>
                            </button>
                        </h4>
                        <p class="category">Here are the books I am currently reading...</p>
                    </div>
                    <div class="card-content table-responsive">
                        <table class="table">
                            <thead class="text-danger">
                                <tr>
                                    <th>#</th>
                                    <th>Title</th>
                                    <th>Genre</th>
                                    <th style="width: 40%">Description</th>
                                    <th>Author</th>
                                    <th>Price</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let book of books">
                                    <td>{{book.bookId}}</td>
                                    <td>{{book.title}}</td>
                                    <td>{{book.genre}}</td>
                                    <td>{{book.description}}</td>
                                    <td>{{book.author.name}}</td>
                                    <td class="text-danger">${{book.price}}</td>
                                </tr>
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
